*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.venv
*.ipynb_checkpoints
*.pyc
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Datasets
Cityscapes_Dataset/